<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netdisk.mapper.FileMapper">
  <!--开启二级缓存,使用Ehcache缓存框架-->
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

  <resultMap id="BaseResultMap" type="com.netdisk.entity.File">
    <id column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_store_id" jdbcType="INTEGER" property="fileStoreId" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="download_time" jdbcType="INTEGER" property="downloadCount" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="parent_folder_id" jdbcType="INTEGER" property="parentFolderId" />
  </resultMap>

  <!--表中所有属性-->
  <sql id="Base_Column_List">
    file_id, file_name, file_store_id, file_path, download_time, upload_time,
    parent_folder_id,size,type,postfix
  </sql>
  <!--添加属性sql-->
  <sql id="Base_Insert_Key_List">
    <if test="fileName != null">
      file_name,
    </if>
    <if test="fileStoreId != null">
      file_store_id,
    </if>
    <if test="filePath != null">
      file_path,
    </if>
    <if test="downloadTime != null">
      download_time,
    </if>
    <if test="uploadTime != null">
      upload_time,
    </if>
    <if test="parentFolderId != null">
      parent_folder_id,
    </if>
    <if test="size != null">
      size,
    </if>
    <if test="type != null">
      type,
    </if>
    <if test="postfix != null">
      postfix,
    </if>
  </sql>
  <!--添加值sql-->
  <sql id="Base_Insert_Value_List">
    <if test="fileName != null">
      #{fileName,jdbcType=VARCHAR},
    </if>
    <if test="fileStoreId != null">
      #{fileStoreId,jdbcType=INTEGER},
    </if>
    <if test="filePath != null">
      #{filePath,jdbcType=VARCHAR},
    </if>
    <if test="downloadTime != null">
      #{downloadTime,jdbcType=INTEGER},
    </if>
    <if test="uploadTime != null">
      #{uploadTime,jdbcType=TIMESTAMP},
    </if>
    <if test="parentFolderId != null">
      #{parentFolderId,jdbcType=INTEGER},
    </if>
    <if test="size != null">
      #{size},
    </if>
    <if test="type != null">
      #{type},
    </if>
    <if test="postfix != null">
      #{postfix},
    </if>
  </sql>
  <!--修改sql-->
  <sql id="Base_Update_List">
    <if test="fileName != null">
      file_name = #{fileName,jdbcType=VARCHAR},
    </if>
    <if test="downloadTime != null">
      download_time = #{downloadTime,jdbcType=INTEGER},
    </if>
    <if test="uploadTime != null">
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
    </if>
    <if test="parentFolderId != null">
      parent_folder_id = #{parentFolderId,jdbcType=INTEGER},
    </if>
    <if test="size != null">
      size = #{size},
    </if>
    <if test="type != null">
      type = #{type},
    </if>
  </sql>

  <insert id="addFile" keyColumn="file_id" keyProperty="fileId" parameterType="com.netdisk.entity.File" useGeneratedKeys="true">
    insert into file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Insert_Key_List"></include>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Base_Insert_Value_List"></include>
    </trim>
  </insert>

  <update id="updateFileByFileId" parameterType="com.netdisk.entity.File">
    update file
    <set>
      <include refid="Base_Update_List"></include>
    </set>
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>

  <delete id="deleteFileByFileId" parameterType="java.lang.Integer">
    delete from file
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByParentFolderId" parameterType="java.lang.Integer">
    delete from file
    where parent_folder_id = #{id}
  </delete>

  <select id="getFileByFileId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>

  <select id="getFilesByFileStoreId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file
    where file_store_id = #{fileStoreId} and parent_folder_id = 0;
  </select>

  <select id="getFilesByParentFolderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file
    where parent_folder_id = #{parentFolderId};
  </select>

  <select id="getFilesByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file
    where file_store_id = #{storeId} and type = #{type};
  </select>

  <select id="getCountStat" resultType="com.netdisk.entity.FileStoreStat">
    select sum(type = 1) doc,sum(type = 2) image,sum(type = 3) video,
           sum(type = 4) music,sum(type = 5) other,count(*) fileCount from file
    where file_store_id = #{id}
  </select>
</mapper>